<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<nav>
      <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/servicios">Servicios</a></li>
      </ul>
</nav>
